/* Define the styles for the form container */
.form {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 20vh;
    box-shadow: 0px 1px 2px 6px rgb(209, 205, 205);
  }
  
  /* Define the styles for the form title */
  .form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Define the styles for the form inputs */
  .form input {
    width: 95%;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Define the styles for the form button */
  .form button {
    width: 95%;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(13, 142, 234, 0.598);
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Define the styles for the form button on hover */
  .form button:hover {
    background-color: rgba(0, 255, 255, 0.763);
    /* color: #007bff; */
  }
  