
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(13, 142, 234, 0.598);
    box-shadow: 1px 2px rgba(1, 65, 65, 0.386)
}

.firstDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstDiv img{
    height: 12vh;
    border-radius: 50%;
    cursor: pointer;
}
 h3{
    font-weight: 600;
    margin: 10px;
    margin-top: 25px;
    cursor: pointer;
    color: black;
}

h3:hover{
    color: white;
}

.secondDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.secondDiv div{
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 20px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
}
